<h1>Plees</h1>
<div class="top">
</div>

<div class="bottom">
    <div class="header simplistic-sans-medium">The only image placeholder service on the web bringing you nothing but VPRO'tjes.</div>
    <div class="examples">Examples:</div>
    <div class="example">
        <div class="header"><a href="http://plees-vpro.herokuapp.com/600/400" target="_blank">http://plees-vpro.herokuapp.com/600/400</a></div>
        <div class="description">Standard placeholder behavior: The first parameter represents the width, the second parameter is the height. This URL will return a 600-pixel-wide by 400-pixel-tall picture of Mr. Van Winkle.</div>
    </div>
    <div class="example">
        <div class="header simplistic-sans-medium"><a href="http://plees-vpro.herokuapp.com/350" target="_blank">http://plees-vpro.herokuapp.com/350</a></div>
        <div class="description">Returns a square VPRO image  with width and height of 350 pixels.</div>
    </div>
</div>

<div class="footer">
    <div class="content">
        <div class="copyright">&copy; 2015 Tim Boisvert; 2016 VPRO Digitaal</div>
    </div>
</div>