<!DOCTYPE html>
<html>
<head>
  <title>Plees VPRO</title>
  <meta property="og:title" content="Plees VPRO"/>
  <meta property="og:url" content="http://plees-vpro.herokuapp.com"/>
  <meta property="og:image" content="http://plees-vpro.herokuapp.com/vpro-logo-social.png"/>
  <meta property="og:site_name" content="Plees VPRO"/>
  <meta property="og:description"
        content="The only image placeholder service on the web bringing you nothing but VPRO jpgs."/>
                     
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="icon" href="/favicon.ico" type="image/ico" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />
  <link rel="stylesheet" type="text/css" href="https://files.vpro.nl/fontface/vpro_vesta/font.css" media="screen, projection, print">
  <link rel="stylesheet" type="text/css" href="https://files.vpro.nl/fontface/simplistic_sans/font.css" media="screen, projection, print">
  <link rel="stylesheet" type="text/css" href="https://files.vpro.nl/fontface/iconfont/iconfont.css" media="screen, projection, print">
  <%= csrf_meta_tags %>
</head>
<body class="vpro-vesta-medium">

<%= yield %>

</body>
</html>
